html, body, #root, #root > div {
  height: 100%;
}

* {
  line-height: 1.5em;
}

#root {
  padding: 20px;
}

#root > div {
  height: 100%;
  overflow: auto;
}

#sandbox {
  display: flex;
  flex-direction: row;
  height: auto;
}

body {
  background-color: #263238;
}

.CodeMirror {
  height: 100%;
  border-right: 1px solid rgb(83,127,126);
  padding-left: 10px;
  padding-right: 10px;
  overflow: none;
}

.react-codemirror2 {
  height: 100%;
}

#editor {
  box-sizing: border-box;
  float: left;
  height: auto;
  flex: 0.3;
  margin-right: 10px;
  margin-bottom: 10px;
}

#output {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#output-top {
  width: 100%;
  flex-basis: 0.3;
}

#output-bottom {
  flex-basis: 1;
  display: flex;
  flex-direction: row;
  max-height: 75%;
  max-width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid rgb(83,127,126);
}

#output-bottom > pre {
  flex-grow: 1;
  padding-top: 3px;
}

#output-bottom > #clear-stdout {
  padding-right: 16px;
}

/* Navbar container */
.navbar {
  margin-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid rgb(83,127,126);
  border-top: 1px solid rgb(83,127,126);
  font-family: monospace;
}

.navbar * {
  color: rgba(233, 237, 237, 1);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown-button {
  overflow: auto;
}

/* Dropdown button */
.dropdown .dropdown-button a {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .navbar a:active, .dropdown:hover .dropdown-button, .dropdown:active .dropdown-button {
  background-color: rgb(83,127,126);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #263238;
  min-width: 160px;
  z-index: 3;
  border: 1px solid rgb(83,127,126);
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgba(233, 237, 237, 1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover, .dropdown-content a:active {
  background-color: rgb(83,127,126);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
  display: block;
}
