html, body, #root, #root > div {
  height: 100%;
}

* {
  box-sizing:border-box;
  line-height: 1.5em;
}

p, code, a {
  color: rgba(233, 237, 237, 1);
}

#root {
  padding: 20px;
}

#root > div {
  height: 100%;
  overflow: auto;
}

#sandbox {
  display: flex;
  flex-direction: row;
  height: auto;
}

body {
  background-color: #263238;
}

.CodeMirror {
  height: 100%;
  border-right: 1px solid rgb(83,127,126);
  padding-left: 10px;
  padding-right: 10px;
  overflow: none;
}

.react-codemirror2 {
  height: 100%;
}

#editor {
  box-sizing: border-box;
  float: left;
  height: auto;
  flex: 0.3;
  margin-right: 10px;
  margin-bottom: 10px;
}

#output {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#output-top {
  width: 100%;
  flex-basis: 0.3;
  min-height: 100px;
}

#output-bottom {
  flex-basis: 1;
  display: flex;
  flex-direction: row;
  max-height: 75%;
  min-height: 100px;
  max-width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid rgb(83,127,126);
}

#output-bottom > pre {
  flex-grow: 1;
  padding-top: 3px;
}

#output-bottom > #clear-stdout {
  padding-right: 16px;
}
